@media screen and (min-width: 1400px){
	.elenco_note{
		transition: 0.5s;	
		padding-top: 110px;
		margin-left: 310px;
	}
}

@media screen and (max-width: 1400px){
	.elenco_note {
		transition: 0.5s;
		padding-top: 110px;	
		margin-left: 0px;
	}
}

.listbar-ns{
	bottom: 140px !important;
	right: 35px !important;
}

div.container-new-nota{
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: black;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.new-nota{
	position: fixed;
	bottom: 32px;
	right: 32px;
	width: 26px;
}